:root {
    background-color: #a1c9e3;
}

.calculator {
    width: 450px;
    height: 600px;
    background-color: lightgray;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    box-shadow: 5px 5px 20px 2px black; 
}

.display {
    position: relative;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 15px;
}

.display-text {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-family: arial;
    font-size: 40px;
}

.div-buttons {
    background-color: grey;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.buttons {
    font-size: 20px;
}

#equals {
    grid-area: 4/4/6/5;
}